
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: 'Inter', sans-serif;
    background: #232519;
    overflow-x: hidden;
    min-height: 800px;
    display: flex;
    justify-content: center;
    border: 1px solid #ffa500;
    border-radius: 15px;
    align-items: self-start;
    scroll-behavior: smooth;
}
html {
    scrollbar-color: #51c7d5 #201b1b;
    scrollbar-width: thin;
}


.fixed{
    position: fixed;
    top: 30px;
    left: 50%;
    width: 90%;
    max-width: 1000px;
    min-width: 400px;
    transform: translateX(-50%);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(12px);
    background: rgba(24,24,27,0.4);
    border: 1px solid rgba(255,255,255,0.08);

}
.nav-right img {
    position: relative;
    display: flex;
    left: -1px;
    border: 2px solid white;
    background-color: #fbfbfb;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.imagenavbar{
    position: fixed;
    left: 12px;
    display: flex;
    width: 25px;
    top: 5px;
}

.glass{
    box-shadow: 0 10px 20px -12px rgb(46, 170, 166);
    backdrop-filter: blur(12px);
    border: 1px solid rgb(35, 33, 33);
    position: relative;
    top: 0px;
    left: 50%;
    width: 100%;
    max-width: 1280px;
    min-width: 400px;
    transform: translateX(-50%);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, transparent, rgba(0, 243, 255, 0.2), transparent);
    animation: autoRotate 2s linear infinite;


}

@media (max-width: 1000px) {

    .glass{
        max-width: 20px;
        min-width: 800px;

    }

}
@media (max-width: 900px) {

    .glass{
        max-width: 20px;
        min-width: 800px;

    }

}

@media (max-width: 840px) {

    .nav-links{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 80px;
        left: -10vh;
        width: 100%;
        background: rgba(0,0,0,0.85);
        padding: 15px;
        border-radius: 10px;
        z-index: 999;
    }

    .nav-links.active{
        display: flex;
    }

    .nav-link{
        margin: 10px 0;
        text-align: left;

    }

    .menu-toggle{
        display: block;
        cursor: pointer;
        color: white;
        font-size: 28px;
        position: relative;
        left: 260px;

    }

    .glass{
        max-width: 100%;
        min-width: auto;
    }

}

@media (max-width: 700px) {

    .nav-links{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 80px;
        left: -10vh;
        background: rgba(0,0,0,0.85);
        padding: 15px;
        border-radius: 10px;
        z-index: 999;
    }

    .nav-links.active{
        display: flex;
    }

    .nav-link{
        margin: 10px 0;
        text-align: left;
    }

    .menu-toggle{
        display: block;
        cursor: pointer;
        color: white;
        font-size: 28px;
        left: 230px;

    }

    .glass{
        max-width: 100%;
        min-width: auto;
    }

}

@media (max-width: 600px) {

    .menu-toggle{
        display: block;
        position: relative;
        left: 180px;
        color: #f4f4f5;
        font-size: 28px;
        cursor: pointer;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -10vh;
        background: rgba(0,0,0,0.9);
        padding: 15px;
        border-radius: 10px;
        z-index: 999;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-link{
        margin: 10px 0;
        text-align: left;
    }

    .glass{
        max-width: 20px;
        min-width: 480px;
    }
}

@media (max-width: 500px) {
    .glass{
        max-width: 20px;
        min-width: 400px;

    }
    .menu-toggle {
        position: relative;
        left: 150px;
        display: block;
        color: #f4f4f5;

    }
    .nav-links.active {
        display: flex;
        flex-direction: column;
    }
    .scoundSkill{
        display: none !important;
        position: absolute;
        visibility: hidden;
    }
    .oneSkill{
        display: none !important;
        position: absolute;
        visibility: hidden;
    }
}
@media (max-width: 400px) {
    .glass{
        max-width: 20px;
        min-width: 340px;

    }
    .menu-toggle {
        position: relative;
        left: 110px;
        display: block;
        color: #f4f4f5;

    }
    .nav-links.active {
        display: flex;
        flex-direction: column;
    }

    .scoundSkill{
        display: none !important;
        position: absolute;
        visibility: hidden;
    }
    .oneSkill{
        display: none !important;
        position: absolute;
        visibility: hidden;
    }
}

@media (max-width: 375px) {

    .glass{
        max-width: 20px;
        min-width: 300px;

    }
    .menu-toggle {
        position: relative;
        left: 95px;
        display: block;
        color: #f4f4f5;

    }
    .nav-links.active {
        display: flex;
        flex-direction: column;
    }

    .scoundSkill{
        display: none !important;
        position: absolute;
        visibility: hidden;
    }
    .oneSkill{
        display: none !important;
        position: absolute;
        visibility: hidden;
    }

}

@media (max-width: 320px) {
    .glass{
        max-width: 20px;
        min-width: 260px;

    }
    .menu-toggle {
        position: relative;
        left: 75px;
        display: block;
        color: #f4f4f5;

    }
    .nav-links.active {
        display: flex;
        flex-direction: column;
    }
    .scoundSkill{
        display: none !important;
        position: absolute;
        visibility: hidden;
    }
    .oneSkill{
        display: none !important;
        position: absolute;
        visibility: hidden;
    }

}


.nav-link{
    position: relative;
    gap: 20px;
    left: 100px;
    color: #d8c8c8;
    transition: color 0.3s;
    margin-right: 20px;
    justify-content: space-between;
    text-decoration: none;
}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: orange;
    transition: width 0.3s ease;
}
.nav-link:hover::after { width: 100%; }
.nav-link:hover {
    color: #f4f4f5;
}

/*================*/   /* Animations */

.oneSkill{
    display: flex;
    position: relative;
    top: 150px;
    width: 160px;
    height: 50px;
    left: 100px;
    border-radius: 30px;
    border: 3px solid rgba(145, 154, 156, 0.5);
    animation: float 10s ease-in-out infinite alternate;
}
.fronteendicon{
    position: relative;
    width: 100px;
    height: 50px;
    left: 10px;
    border-radius: 10px;
    align-items: center;
}
.fa-solid{
    position: relative;
    font-size: 25px;
    width: 5px;
    top: 10px;
    left: 1.5px;

}
.skilnamebig{
    position: relative;
    top: 5px;
    left: 50px;
    color: #ffb500;
    font-size: 20px
}

#smallid{
    position: relative;
    left: -30px;
    top: 28px;
    color: #af9ca3;
    opacity: 10;
    font-size: 12px;
}

.float-1 {
    animation: float  5s ease-in-out infinite alternate;
}

@keyframes float {
    0%{
        transform: translateY(5px) rotate(0deg);
    }
    50% {
        transform: translateX(10px) rotate(10deg);
    }
    80% {
        transform: translateY(50px) rotate(-50deg);
    }
    100%{
        transform: translateY(100px) rotate(0deg);

    }
}

.scoundSkill{
    display: flex;
    position: relative;
    top: 140px;
    width: 160px;
    height: 50px;
    left: 200px;
    border-radius: 30px;
    border: 3px solid rgba(145, 154, 156, 0.5);
    animation: float1 10s ease-in-out infinite alternate;


}
.secondskillname{
    position: relative;
    top: 3px;
    left: 50px;
    font-size: 20px;
    color: #51c7d5;
}
#scoundsmallid{
    position: relative;
    top: 28px;
    width: 10px;
    color: #af9ca3;
    font-size: 12px;
    left: -15px;
}
.fa-brands{
    position: relative;
    width: 10px;
    top: 10px;
    left: 25px;
    font-size: 25px;

}


@keyframes float1 {
    0%{
        transform: translateY(5px) rotate(0deg);
    }
    50% {
        transform: translateX(10px) rotate(10deg);
    }
    80% {
        transform: translateY(50px) rotate(-50deg);
    }
    100%{
        transform: translateY(100px) rotate(0deg);

    }
}
.catchall{
    position: relative;
    display: flex;
    top:500px;
    left: -30px;
}
.thirdSkill{
    display: flex;
    position: relative;
    top: 300px;
    width: 160px;
    height: 50px;
    left:50px;
    border-radius: 30px;
    border: 3px solid rgba(145, 154, 156, 0.5);
    animation: float2 10s ease-in-out infinite alternate;
}

#backendicon{
    position: relative;
    font-size: 25px;
    left: 25px;

}
.thirdskilname{
    position: relative;
    top: 5px;
    left: 50px;
    color: #c3c3c3;
    font-size: 20px;


}
#thirdskilname{
    position: relative;
    color: #af9ca3;
    top: 25px;
    left: -25px;
    font-size: 12px;


}
@keyframes float2{
    0%{
        transform: translateY(0px) rotate(-360deg);
    }
    50% {
        transform: translateY(100px) rotate(15deg);
    }
    100% {
        transform: translateY(0px) rotate(-50deg);
    }
    80%{
        transform: translateY(0px) rotate(20deg);

    }
}

.fourthskill{
    display: flex;
    position: relative;
    top: 300px;
    width: 160px;
    height: 50px;
    left:-360px;
    border-radius: 30px;
    border: 3px solid rgba(145, 154, 156, 0.5);
    animation: float3 10s ease-in-out infinite alternate;
}
#mobileicon{
    position: relative;
    left: 25px;
}
.fourthskillname{
    position: relative;
    color: #51c7d5;
    top: 4px;
    left: 50px;
    font-size: 20px;

}
.fourthskillsubnane{
    position: relative;
    color: #af9ca3;
    top: 25px;
    left: -15px;
    font-size: 12px;}

@keyframes float3{
    0%{
        transform: translateY(0px) rotate( -360deg);
    }
    50% {
        transform: translateY(100px) rotate(-15deg);
    }
    100% {
        transform: translateY(0px) rotate(-50deg);
    }
    80%{
        transform: translateY(0px) rotate(20deg);

    }

}

.backgroundeffect{
    position: relative;
    width: 100px;
    left: 200px;
    top: 450px;
    color: #333a3a;
    animation: pulse 5s infinite;
    z-index: -90;
    height: 100px;
    border: 5px solid #ffffff;
    border-radius: 100%;
}
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.backgroundeffect1{
    position: relative;
    width: 100px;
    left: 100px;
    top: 200px;
    color: #333a3a;
    animation: pulse 2s infinite;
    z-index: -90;
    height: 100px;
    border: 5px solid #1a57a8;
    border-radius: 100%;
}
.backgroundeffect2{
    position: relative;
    width: 100px;
    left: 100px;
    top: 200px;
    color: #333a3a;
    animation: pulse 5s infinite;
    z-index: -90;
    height: 100px;
    border: 5px solid #88cd19;
    border-radius: 100%;
}
.backgroundeffect3{
    position: relative;
    width: 100px;
    left: 100px;
    top: 200px;
    color: #333a3a;
    animation: pulse 5s infinite;
    z-index: -90;
    height: 100px;
    border: 2px solid #8b19cd;
    border-radius: 100%;
}
.backgroundeffect4{
    position: relative;
    width: 100px;
    left: 100px;
    top: 200px;
    color: #333a3a;
    animation: pulse 5s infinite;
    z-index: -90;
    height: 100px;
    border: 4px solid #e3177d;
    border-radius: 100%;
}
.freelancelivetag{
    position: fixed;
    top: 100px;
    right: 600px;

    display: flex;
    width: 200px;
    height: 25px;

    color: #cd8d15;
    border: 2px solid rgb(46, 170, 166);
    box-shadow: 0 10px 20px -12px rgb(46, 170, 166);
    border-radius: 15px;

    z-index: 9999;
}
@media (max-width: 600px) {
    .freelancelivetag{
        top: 119px;
        left: 200px;
        width: 200px;
        height: 25px;
    }
}
.tagfreelance{
    position: relative;
    display: flex;
    top: 4px;
    left: 18px;
    color: #d1cdcd;
    font-size: 12px;
    font-family: "Arial Narrow";


}
.signalanimate{
    position: relative;
    display: flex;
    top: 3px;
    left:8px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid rgb(100, 210, 205);
    animation: pulse 2s infinite;
}
.signalanimate2{
    position: relative;
    display: flex;
    top: 8px;
    left:-2px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    border: 2px solid #1df406;
}
.chat-wrapper{
    position: fixed;

    top: clamp(50px, 8vh, 90px);

    left: clamp(120px, 20%, 420px);
    transform: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    z-index: 9999;
}
@media (max-width: 400px){
    .chat-wrapper{
        top: 60px;
        left: 60px;
    }
}
.chaticon{
    position: relative;
    left: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#chaticontag{
    font-size: clamp(20px, 3vw, 32px);
    color: rgb(179,230,229);
    transition: 0.3s;
}


#chatbtn{
    width: clamp(100px, 12vw, 120px);
    height: clamp(45px, 6vw, 55px);

    border: 2px solid rgb(100, 210, 205);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(9, 41, 41);
    color: white;
    text-decoration: none;

    font-size: clamp(14px, 2vw, 18px);
    transition: 0.3s;
}

#chatbtn:hover {
    background: white;
    color: rgb(46, 170, 166);
}

.chaticon:hover #chaticontag {
    transform: scale(1.2);
}