
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: 'Inter', sans-serif;
    background: #000000;
    overflow-x: hidden;
    min-height: 800px;
    display: flex;
    justify-content: center;
    border: 1px solid #ffa500;
    border-radius: 15px;
    align-items: self-start;
    scroll-behavior: smooth;
}
html {
    scrollbar-color: #51c7d5 #201b1b;
    scrollbar-width: thin;
}


.fixed{
    position: fixed;
    top: 30px;
    left: 50%;
    width: 90%;
    max-width: 1000px;
    min-width: 400px;
    transform: translateX(-50%);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(12px);
    background: rgba(24,24,27,0.4);
    border: 1px solid rgba(255,255,255,0.08);

}
.nav-right img {
    position: relative;
    display: flex;
    left: -1px;
    border: 2px solid white;
    background-color: #fbfbfb;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.imagenavbar{
    position: fixed;
    left: 12px;
    display: flex;
    width: 25px;
    top: 5px;
}

.glass{
    box-shadow: 0 10px 20px -12px rgb(255, 165, 0);
    backdrop-filter: blur(12px);
    border: 1px solid rgb(35, 33, 33);
    position: relative;
    top: 0px;
    left: 50%;
    width: 100%;
    max-width: 1280px;
    min-width: 400px;
    transform: translateX(-50%);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, transparent, rgba(0, 243, 255, 0.2), transparent);
    animation: autoRotate 2s linear infinite;
}

@media (max-width: 1000px) {
    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 80px;
        left: 20px;
        background: rgba(0,0,0,0.8);
        padding: 15px;
        border-radius: 10px;
    }

    .nav-link{
        margin: 10px 0;
        left: -5px;
        text-align: left;
    }
    .nav-link::after{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 2px;
        background: orange;
        transition: width 0.3s ease;
    }

    .glass{
        max-width: 20px;
        min-width: 850px;

    }
}

@media (max-width: 885px) {
    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 80px;
        left: 20px;
        background: rgba(0,0,0,0.8);
        padding: 15px;
        border-radius: 10px;
    }

    .nav-link{
        margin: 10px 0;
        left: -5px;
        text-align: left;
    }
    .nav-link::after{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 2px;
        background: orange;
        transition: width 0.3s ease;
    }

    .glass{
        max-width: 20px;
        min-width: 690px;

    }
}

@media (max-width: 700px) {
    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 80px;
        left: 20px;
        background: rgba(0,0,0,0.8);
        padding: 15px;
        border-radius: 10px;
    }

    .nav-link{
        margin: 10px 0;
        left: -5px;
        text-align: left;
    }
    .nav-link::after{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 2px;
        background: orange;
        transition: width 0.3s ease;
    }

    .glass{
        max-width: 20px;
        min-width: 600px;

    }
}


@media (max-width: 600px) {

    .menu-toggle{
        position: relative;
        left: 80px;
        display: block;
        color: #f4f4f5;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 80px;
        left: 20px;
        background: rgba(0,0,0,0.8);
        padding: 15px;
        border-radius: 10px;
    }

    .nav-link{
        display: none;
        margin: 10px 0;
        text-align: left;
    }
    .nav-link::after{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 2px;
        background: orange;
        transition: width 0.3s ease;
    }
    .glass{
        max-width: 20px;
        min-width: 400px;

    }
}

@media (max-width: 400px) {
    .glass{
        max-width: 20px;
        min-width: 340px;

    }
    .menu-toggle {
        position: relative;
        left: 60px;
        display: block;
        color: #f4f4f5;

    }

}
@media (max-width: 375px) {

    .glass{
        max-width: 20px;
        min-width: 300px;

    }
    .menu-toggle {
        position: relative;
        left: 60px;
        display: block;
        color: #f4f4f5;

    }
}

@media (max-width: 320px) {
    .glass{
        max-width: 20px;
        min-width: 240px;

    }
    .menu-toggle {
        position: relative;
        left: 40px;
        display: block;
        color: #f4f4f5;

    }
}


.nav-link{
    position: relative;
    gap: 20px;
    left: 100px;
    color: #d8c8c8;
    transition: color 0.3s;
    margin-right: 20px;
    justify-content: space-between;

}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: orange;
    transition: width 0.3s ease;
}
.nav-link:hover::after { width: 100%; }
.nav-link:hover {
    color: #f4f4f5;
}




